@font-face {
  font-family: 'Eurostile';
  src: url('../assets/fonts/EuroStyleNormal.ttf') format('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Eurostile';
  src: url('../assets/fonts/EurostileBold.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
